/*==================================================
                    RESET
==================================================*/

*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

img{
    display:block;
    max-width:100%;
}

a{
    text-decoration:none;
    color:inherit;
}

button,
input,
textarea,
select{
    font:inherit;
}   

/*==================================================
                    VARIÁVEIS
==================================================*/

:root{

    --cor-principal:#C8102E;

    --cor-fundo:#F7F5F2;

    --cor-card:#FFFFFF;

    --cor-texto:#2D2D2D;

    --cor-secundaria:#666666;

    --cor-borda:#E7E7E7;

    --sombra:0 8px 30px rgba(0,0,0,.06);

    --radius:20px;

}

/*==================================================
                    BODY
==================================================*/

body{

    font-family:"Inter",sans-serif;

    background:var(--cor-fundo);

    color:var(--cor-texto);

    line-height:1.7;

    min-height:100vh;

    -webkit-font-smoothing:antialiased;

    text-rendering:optimizeLegibility;

}